<!-- {% extends 'base.html' %}
{% block content %}


<body class="body" style="background-color: white"></body>

  {% if error %}
  <p style="background-color: #ff6666;">{{error}}</p>
  {% endif %}
  <section class="form-section">
    <form action="{% url 'checkout' %}" method="POST" class="checkout-form">
        {% csrf_token %}
        <h1 class="checkout-header">Check Out</h1>
        <p>
          <label for="first_name">First Name</label><br>
          <input type="text" name="first_name" required maxlegth="25" minlength="2">
        </p>
        <p>
          <label for="last_name">Last Name</label><br>
          <input type="text" name="last_name" required maxlegth="25" minlength="2">
        </p>
        <p>
         <label for="email">Email</label><br>
         <input type="text" name="email" required maxlegth="25" minlength="2">
       </p>
        <p>
          <label for="address">Address</label><br>
          <input type="text" name="address" required maxlegth="25" minlength="2">
        </p>
        <p>
          <label for="city">City</label><br>
          <input type="text" name="city" required maxlegth="25" minlength="2">
        </p>
        <p>
         <label for="state">State</label><br>
         <input type="text" name="state" required maxlegth="25" minlength="2">
       </p>
       <p>
         <label for="zipcode">Zip Code</label><br>
         <input type="text" name="zipcode" required maxlegth="25" minlength="2">
       </p>
    
        <button type="submit" class="submit-button">Checkout</button>
    </form>
  </section>

{% endblock %} -->