{% extends 'base.html' %} {% block content %}

<nav class="nav-bar">
    <h1>Beautify</h1>
    <a href="{{ url 'login' }}" class="nav-links">Login</a>
    <a href="{{ url 'signup' }}" class="nav-links">Sign Up</a>
</nav>

<h3>Looks</h3>
{% if look.featured == True %} {% for look in looks %}
<section class="container">
    <h4>{{ look.name }}</h4>
    <p>{{look.description}}</p>
    <div class="img-container">
        <img src="{{ look.img }}" alt="{{ look.name }}" />
    </div>
</section>

{% endblock %}