{% extends 'base.html' %}
{% block content %}

{% if error %}
  <p style="background-color: #ff6666;">{{error}}"></p>
{% endif %}
  <section class="form-section">
    <form action="{% url 'login' %}" method="POST" class="login-form">
      {% csrf_token %}
      <p>
        <label for="email">Email</label>
        <input type="text" name="email" required max_length="25" min_length="7">
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" name="password" required max_length="25" min_length="4">
      </p>
      <button type="submit">Login</button>

    </form>
  </section>

{% endblock %}