{% extends 'base.html' %} {% block content %}

<nav class="nav-bar">
    <a href="{% url 'home_view' %}" class="nav-title">
        <h1 class="nav-title">Beautify</h1>
    </a>
    {% if user.is_authenticated %}
    <a href="{% url 'order_view' %}" class="bag-link"><img src="../static/assets/makeup-bag-icon.png" id="shopping-bag-icon" alt="shopping-bag-icon"></a>
    <a href="{% url 'logout' %}" class="nav-links">Log Out</a>
    <a href="{% url 'looks_list' %}" class="nav-links">Looks</a>
    <a href="{% url 'items_list' %}" class="nav-links">Products</a> {% else %}
    <a href="{% url 'order_view' %}" class="bag-link"><img src="../static/assets/makeup-bag-icon.png" id="shopping-bag-icon" alt="shopping-bag-icon"></a>
    <a href="{% url 'sign_up' %}" class="nav-links">Sign Up</a>
    <a href="{% url 'login' %}" class="nav-links">Login</a>
    <a href="{% url 'looks_list' %}" class="nav-links">Looks</a>
    <a href="{% url 'items_list' %}" class="nav-links">Products</a> {% endif %}
</nav>


<ul class="container">
    <h2>Looks</h2>
    {% for look in looks %}
    <li class="item-container">
        <div class="img-container">
            <a href="{% url 'view_item' pk=look.pk %}"><img src="{{ look.img }}" alt="{{ look.name }}" class="look-image" /></a>
            <h3>{{ look.name }}</h3>
            <p>{{look.description}}</p>
            <button type="submit" href="{% url 'order_view' %}" class="cart-button">Add To Cart</button>
        </div>
    </li>
    </a>
    {% endfor %}
</ul>

{% endblock %}