{% extends 'base.html' %} {% block content %}



<ul class="container">
    <h2>Looks</h2>
    {% for look in looks %}
        <li class="item-container">
            <div class="img-container">
            <a href="{% url 'view_item' pk=look.pk %}"><img src="{{ look.img }}" alt="{{ look.name }}" class="look-image" /></a>
            <h3>{{ look.name }}</h3>
            <p>{{look.description}}</p>
            <a href="{% url 'add_to_cart' pk=item.pk %}">add to cart</a>
        
            </div>
        </li>
    </a>
    {% endfor %}
</ul>

{% endblock %}