{% extends 'base.html' %} {% block content %}


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Image</th>
            <th scope="col">Remove</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in users_items %}
        <tr>
            <th scope="row">{{ item.name }}</th>
            <th scope="row">{{ item.img }}</th>
            <td>${{ item.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}