 /* @import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Lobster+Two'); */

 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
  }

  h1 {
    text-align: center;
    margin: 3em 2em 2em 2em;
    font-size: 2em;
  }
  
  li {
  list-style-type: none;
  align-items: center;
  justify-content: center;
  }
  
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .container li {
    flex-basis: 20%;
    box-shadow: 0 20px 40px -13px rgba(0,0,0,0.25);
    font-size: 1em;
    align-items: center; 
  }
  
  .item-container {
    flex: 1 1 auto;
    text-align: center;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 1rem;
    font-family: 'Julius Sans One', sans-serif;
    min-width: 30%;
    max-width: 30%;
  }
  
  
  .item-image {
    flex: 1 1 auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    padding: 5%;
  }
  
  .container-text {
    
  }
  
  h3 {
    font-size: 2em;
  }
  
   ul .container {
   border: 2px solid black;
   } 
  
  .set-dimensions {
    max-width: 100%;
    max-height: 65%;
    display: block;
    text-align: center;
    flex: 1 1 auto;
  }
  
  .set-dimensions50 {
    max-width: 100%;
    max-height: 30%;
    display: inline-block;
    flex: 1 1 auto;
    flex-direction: coluxmn;
    justify-content: space-around;
  }

  .cart-button {
    border: 1px solid gainsboro;
    width: 100%;
    background-color: #56DEDA;
    border: none;
    color: black;
    padding: 1em 4em;
    /* margin-bottom: auto; */
    /* margin-top: auto; */
    letter-spacing: 2.5px;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

  .cart-button:hover {
   opacity: .8;
   color: green;
   text-decoration: none;

  }

@media (max-width: 900px) {
  * {
    font-size: 12px;
    }
  }

@media (max-width:900px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width:900px) {
  .item-container {
    max-width: 100%;
    width: 100%;
  }
}