@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Lobster+Two');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  background-image: linear-gradient(to right, yellow, aquamarine);
}

.nav-bar {
  background-color: white;
  margin: 0 auto;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.nav-bar h1 {
  display: inline;
  float: left;
  font-size: 40px;
  margin: 0;
  padding: 10px;
  font-family: 'Lobster Two', cursive;
}

.nav-links {
  display: inline;
  text-shadow: 1px 1px white;
  font-weight: 600;
  color: navy;
  font-size: 18px;
  overflow: hidden;
  padding: 0 5%;
  padding: 25px 20px;
  float: right;
  text-decoration: none;
}

.container{
  margin-top: 75px;
}

h2 {
  text-align: center;
}