* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    background-image: linear-gradient(to right, plum, #56DEDA);
  }

h1 {
  text-align: center;
  margin: 1em;
  font-size: 2em;
}

h2 {
  font-family: 'Lobster Two', cursive;
  text-align: center;
  margin: 3em 2em 2em 2em;
  font-size: 2em;
  letter-spacing: 2.5px;
}

li {
  list-style: none;
}

.container {
  flex: 1 1 auto;
  margin-top: 5%;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  box-shadow: 0 20px 40px -13px rgba(0,0,0,0.25);
  background-color: white;
}
.container li {
    justify-content: space-around;
}


.view-item {
  width: 100%;
  justify-content: space-between;
  margin: 2em;   
}

.item-image {
  flex: 1 1 auto;
  width: 100%;
  min-width: 20%;
  margin: auto;
}

.container-text div{
  justify-content: space-between;
  flex-direction: column-reverse;
}

.background {

}
