* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
  text-align: center;
  margin: 2em;
  font-size: 2em;
}

li {
  list-style: none;
}

.container {
  flex: 1 1 auto;
  margin: 2em 2em;
  display: flex;
  align-items: center;
  box-shadow: 0 20px 40px -13px rgba(0,0,0,0.25);

}

.view-item {
  width: 100%;
  justify-content: space-between;
  margin: 2em;   
}

.item-image {
  flex: 1 1 auto;
  width: 100%;
  margin: auto;

}

.container-text div{
  justify-content: space-between;
  flex-direction: column-reverse;
}

