* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;

}

.nav-bar a {
  display: block;
  flex: auto;
  text-align: center;
  align-items: flex-end;

}

.nav-bar a:hover {
  color: #B6B6B6;
  background-color: gray;

}

.nav-title {
  font-size: 3rem;
  margin: 0;
  font-family: 'Lobster Two', cursive;
  text-decoration: none;
  color: black;
}

.cart-button {
  border: 1px solid gainsboro;
  width: 100%;
}

#shopping-bag-icon {
  flex: 4;
  max-width: 5em;
}

h1 {
  text-align: center;
  margin: 2em;
  font-size: 2em;
}


li {
  list-style: none;
}


.container {
  margin: 2em 2em;
  display: flex;
  align-items: center;
}

.container-item {


    
}
.view-item {
  width: 100%;
  justify-content: space-between;
  margin: 2em;   
}

.container li {

}

.item-container {

}


.item-image {
  width: 100%;

}

.container-text {

}

.container-text h3{
 
}

.container-text div{
  /* box-sizing: border-box;
  flex-direction: column;
  flex-basis: auto; */
  justify-content: space-between;
  flex-direction: column-reverse;
}

h3 {
  /* font-size: 2em; */
}




 ul .container {

 } 